body {
    background-color: #121212;
    color: white;
    text-align: left;

}

h2 {
    margin: 0;
    font-size: 40px;
    font-family: Karla;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    line-height: 40px;

    }
p {
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: #D5D4D8;
}

.mainBlock {
    margin-left: 52px;
    margin-top: 52px; 
    margin-right: 52px; 
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 115px;
    padding-bottom: 115px;
    background-color: #1F2937;
    position: absolute;
    background: #1F2937;
}

.generate-btn {
    font-family: "Inter", sans-serif;
    font-style: normal;
    margin-top: 51px;
    justify-content: center;
    color: white;
    padding: 9px 17px;
    background: #10B981;
    border-radius: 6px;
    border: 0;
    box-shadow: 0 2px #999;
}

.generate-btn:hover {background-color: #10B981}

.generate-btn:active {
  background-color: #10B981;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}


.pwd-btn-one {
    width: 211px;
    height: 39px;
    margin-right: 24px;
    background: #273549;
    border: 0;
    border-radius: 6px;
    color: #4ADF86;

}
.pwd-btn-two {
    width: 211px;
    background: #273549;
    border: 0;
    border-radius: 6px;
    color: #4ADF86;
}

hr {
    border: 1px solid #2F3E53;
    margin-top: 35px;
    margin-bottom: 35px;

}

.buttonSection {
    display: flex;
    justify-content: space-between;
}

span {
    color: #10B981;
}

.white-line {
    border: 2px dotted white;
}